# MCO1

Read the csv files using pandas

In [1]:
import pandas as pd 

appointments_path = 'appointments.csv'
clinics_path = 'clinics.csv'
doctors_path = 'doctors.csv'
px_path = 'px.csv' # patients

appointments = pd.read_csv(appointments_path)

In [2]:
clinics = pd.read_csv(clinics_path, encoding='ISO-8859-1')

In [3]:
doctors = pd.read_csv(doctors_path, encoding='ISO-8859-1')

In [4]:
px = pd.read_csv(px_path, encoding='ISO-8859-1', low_memory=False)

In [5]:
# remove appointments that are not in pxid table
print(appointments.shape)
appointments = appointments[appointments['pxid'].isin(px['pxid'])]

# remove appointments that are not in the clinics table
print(appointments.shape)
appointments = appointments[appointments['clinicid'].isin(clinics['clinicid'])]
print(appointments.shape)

# remove appointments that are not in the doctors table
print(appointments.shape)
appointments = appointments[appointments['doctorid'].isin(doctors['doctorid'])]
print(appointments.shape)

(9752932, 11)
(320140, 11)
(320140, 11)
(320140, 11)
(320140, 11)

Show columns

In [6]:
print(appointments.columns)
print(clinics.columns)
print(doctors.columns)
print(px.columns)

Index(['pxid', 'clinicid', 'doctorid', 'apptid', 'status', 'TimeQueued',
       'QueueDate', 'StartTime', 'EndTime', 'type', 'Virtual'],
      dtype='object')
Index(['clinicid', 'hospitalname', 'IsHospital', 'City', 'Province',
       'RegionName'],
      dtype='object')
Index(['doctorid', 'mainspecialty', 'age'], dtype='object')
Index(['pxid', 'age', 'gender'], dtype='object')

In [7]:
appointments.head(100)

,pxid,clinicid,doctorid,apptid,status,TimeQueued,QueueDate,StartTime,EndTime,type,Virtual
76059,FE4A5D5A20EC492D2FC691F126A568AB,3B8D83483189887A2F1A39D690463A8F,ACB3A881C7CE9ABCAE0CE8C99C86A906,04BC9218E072BEEFEBEE9C97B78A35C9,Queued,2020-06-22 05:11:38.247000000,2020-07-02 16:00:00,2020-07-02 17:00:38.073000000,2020-07-02 17:15:38.073000000,Consultation,NaN
76061,E6BC8E80685AA4A239617F196F12A0C3,3B8D83483189887A2F1A39D690463A8F,ACB3A881C7CE9ABCAE0CE8C99C86A906,F2335AAFB7EE079C7E7306591057C0C9,Queued,2020-06-26 04:51:16.403000000,2020-07-12 16:00:00,2020-07-12 17:00:15.833000000,2020-07-12 17:15:15.833000000,Consultation,NaN
76063,E430B3D3AEED550612FFDBD0F2F94112,3B8D83483189887A2F1A39D690463A8F,ACB3A881C7CE9ABCAE0CE8C99C86A906,B2C83D6DE89A88C5CD9EA1FD5FC00602,Queued,2020-07-13 07:00:50.127000000,2020-07-19 16:00:00,2020-07-20 05:00:49.687000000,2020-07-20 05:15:49.687000000,Consultation,NaN
76064,E6BC8E80685AA4A239617F196F12A0C3,3B8D83483189887A2F1A39D690463A8F,ACB3A881C7CE9ABCAE0CE8C99C86A906,DA4023B5A8C3F1BD540EA82552F21134,Queued,2020-07-13 06:07:13.537000000,2020-07-28 16:00:00,2020-07-29 05:00:13.133000000,2020-07-29 05:15:13.133000000,Consultation,NaN
76069,41E3F930274A7704305EE197F3434877,3B8D83483189887A2F1A39D690463A8F,ACB3A881C7CE9ABCAE0CE8C99C86A906,C805F7992F18E33AB85CEBD572680943,Queued,2020-06-26 05:54:35.117000000,2020-09-27 16:00:00,2020-09-27 17:00:34.917000000,2020-09-27 17:15:34.917000000,Consultation,NaN
...,...,...,...,...,...,...,...,...,...,...,...
76554,0173144A9589D9B631D1213CB68CD1F3,287ABB19DA8AADBD118443E92685853E,ACB3A881C7CE9ABCAE0CE8C99C86A906,24BBEF21D8B8E1F63BF9D95D22C52854,Complete,2020-11-19 04:26:13.893000000,2020-11-19 16:00:00,2020-11-20 01:30:00,2020-11-20 01:45:00,Consultation,False
76560,A4B7F2DEFAB485D3E823EC2E2887CE8B,287ABB19DA8AADBD118443E92685853E,ACB3A881C7CE9ABCAE0CE8C99C86A906,9ECD6AD001663BFF8259BF04932B287E,Complete,2020-11-23 23:37:40.580000000,2020-11-23 16:00:00,2020-11-24 03:15:00,2020-11-24 03:30:00,Consultation,True
76561,17F29BDC62FF6C1E3EADA946F41BD78C,287ABB19DA8AADBD118443E92685853E,ACB3A881C7CE9ABCAE0CE8C99C86A906,1F61DE829ECDBAA4E09FB099781C47E8,Complete,2020-11-20 02:25:35.360000000,2020-11-23 16:00:00,2020-11-24 01:00:00,2020-11-24 01:15:00,Consultation,True
76562,E181F837A7F5701CC5537781E94D3537,287ABB19DA8AADBD118443E92685853E,ACB3A881C7CE9ABCAE0CE8C99C86A906,39250431EA8C0D7384AD60C9534AB386,Complete,2020-11-22 10:37:27.423000000,2020-11-23 16:00:00,2020-11-24 01:45:00,2020-11-24 02:00:00,Consultation,False
76563,276BBC91182D1B6924ACDA861C146B07,287ABB19DA8AADBD118443E92685853E,ACB3A881C7CE9ABCAE0CE8C99C86A906,2CB9F1DD9BBB54D6AF9CE2607772934C,Complete,2020-11-23 23:46:59.510000000,2020-11-23 16:00:00,2020-11-24 02:45:00,2020-11-24 03:00:00,Consultation,True

In [8]:
clinics.head(100)

,clinicid,hospitalname,IsHospital,City,Province,RegionName
0,77EE3BC58CE560B86C2B59363281E914,St. Luke's Medical Center-Global City,True,Taguig,Manila,National Capital Region (NCR)
1,98C39996BF1543E974747A2549B3107C,Our Lady of Lourdes Hospital,True,Manila,Manila,National Capital Region (NCR)
2,9AEADE7BEADA35C83D3B344FBAFE43B0,Makati Medical Center,True,Makati,Manila,National Capital Region (NCR)
3,FDBD31F2027F20378B1A80125FC862DB,Cardinal Santos Medical Center,True,San Juan,Manila,National Capital Region (NCR)
4,205C3608ECB984C1F5F5D2F52C934428,NaN,False,Burgos,Ilocos Sur,Ilocos Region (I)
...,...,...,...,...,...,...
95,134308E425D55EF04BDBA62B657EBB77,NaN,False,Manila,Manila,National Capital Region (NCR)
96,99EF04EB612BAF0E86671A5109E22154,NaN,False,Manila,Manila,National Capital Region (NCR)
97,BB702465F3C3141263DDD046C9585B27,NaN,False,Manila,Manila,National Capital Region (NCR)
98,7F278AD602C7F47AA76D1BFC90F20263,NaN,False,Manila,Manila,National Capital Region (NCR)
99,CFE912F5CB3AA572BD1C9AE2A9B82207,NaN,False,Manila,Manila,National Capital Region (NCR)

In [9]:
doctors.head(100)

,doctorid,mainspecialty,age
0,AD61AB143223EFBC24C7D2583BE69251,General Medicine,41.0
1,D09BF41544A3365A46C9077EBB5E35C3,Family Medicine,43.0
2,FBD7939D674997CDB4692D34DE8633C4,Vascular Medicine,26.0
3,28DD2C7955CE926456240B2FF0100BDE,Otolaryngologists,34.0
4,35F4A8D465E6E1EDC05F3D8AB658C551,General Dentistry,50.0
...,...,...,...
95,3636638817772E42B59D74CFF571FBB3,NaN,NaN
96,149E9677A5989FD342AE44213DF68868,Pediatrician,68.0
97,A4A042CF4FD6BFB47701CBC8A1653ADA,"Urology, Endoscopic Urology, Laparoscopic and ...",51.0
98,1FF8A7B5DC7A7D1F0ED65AAA29C04B1E,NaN,NaN
99,F7E6C85504CE6E82442C770F7C8606F0,General Surgery,51.0

In [10]:
px.head(100)

                                pxid  age  gender
0   5A1718EC380AFE6BE24D63EE78CDA043  NaN  FEMALE
1   C0FC9D6384C7F579F1048A461C298B8C    8  FEMALE
2   FB0C4098E2F7FD0BC3865382242E7034    2  FEMALE
3   EB3C1CBD5A2AC52C69BE0B90C5E149A7   54    MALE
4   92C92C2EB4B51FBB3CD354165BA5F027   67  FEMALE
..                               ...  ...     ...
95  5ADE713D7D99EC291439C3B372A62ABB   40    MALE
96  740DFB041070ED8C4ADAB3B8AF3AF7FE   80    MALE
97  3FC30D4BE6D1DFECC45AC108601316FE   43  FEMALE
98  6820F2CAE03537DB275E20CA3E97D2DF   11  FEMALE
99  A3014EF2033D8700FEE93B05AA49D5A8    2    MALE

[100 rows x 3 columns]

In [11]:
print("Null in appointments")
for column in ['pxid', 'clinicid', 'doctorid', 'apptid', 'status', 'TimeQueued', 'QueueDate', 'StartTime', 'EndTime', 'type', 'Virtual']:
    print(f"{column} nulls = {appointments[column].isnull().sum()}")

Null in appointments
pxid nulls = 0
clinicid nulls = 0
doctorid nulls = 0
apptid nulls = 0
status nulls = 0
TimeQueued nulls = 0
QueueDate nulls = 0
StartTime nulls = 116532
EndTime nulls = 259988
type nulls = 0
Virtual nulls = 190136

In [12]:
print("Nulls in clinics:")
for column in ['clinicid', 'hospitalname', 'IsHospital', 'City', 'Province', 'RegionName']:
    print(f"{column} nulls = {clinics[column].isnull().sum()}")

Nulls in clinics:
clinicid nulls = 0
hospitalname nulls = 36424
IsHospital nulls = 0
City nulls = 0
Province nulls = 0
RegionName nulls = 0

In [34]:
clinics[clinics.IsHospital == False].isnull().sum()

clinicid            0
hospitalname    36424
IsHospital          0
City                0
Province            0
RegionName          0
dtype: int64

In [36]:
# ask groupmates what to do with these nulls
print("Nulls in doctors:")
for column in ['doctorid', 'mainspecialty', 'age']:
    print(f"{column} nulls = {doctors[column].isnull().sum()}")

Nulls in doctors:
doctorid nulls = 0
mainspecialty nulls = 32849
age nulls = 39996

In [19]:
# ask groupmates what to do with these nulls
print("Nulls in Patient:")
for column in ['pxid', 'age', 'gender']:
    print(f"{column} nulls = {px[column].isnull().sum()}")

Nulls in Patient:
pxid nulls = 0
age nulls = 12222
gender nulls = 0

In [18]:
print(appointments['status'].value_counts(), "\n")
print(appointments['type'].value_counts(), "\n")
print(appointments['Virtual'].value_counts(), "\n")
print(doctors['mainspecialty'].value_counts(), "\n")
print(px['gender'].value_counts(), "\n")

Queued      179638
Complete    135259
Cancel        2258
Serving       1544
NoShow        1008
Skip           433
Name: status, dtype: int64

Consultation    319931
Inpatient          209
Name: type, dtype: int64

False    124157
True       5847
Name: Virtual, dtype: int64

Internal Medicine                           3812
General Medicine                            2317
Pediatrics                                  1709
Family Medicine                              894
General Physician                            881
                                            ...
General Physician (Pediatrics and Adult)       1
Marc                                           1
Orthopaedics (Bone and Joint Surgery)          1
Generalists                                    1
Allergist                                      1
Name: mainspecialty, Length: 3974, dtype: int64

FEMALE    3642569
MALE      2865243
gender          1
Name: gender, dtype: int64