# MCO1

### Import CSV Files and Read Data

In [334]:
import pandas as pd 
import numpy as np
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine
import re

appointments_path = 'appointments.csv'
clinics_path = 'clinics.csv'
doctors_path = 'doctors.csv'
px_path = 'px.csv' # patients

In [92]:

appointments = pd.read_csv(appointments_path)

In [93]:
clinics = pd.read_csv(clinics_path, encoding='ISO-8859-1')

In [335]:
doctors = pd.read_csv(doctors_path, encoding='ISO-8859-1')

In [95]:
px = pd.read_csv(px_path, encoding='ISO-8859-1', low_memory=False)

### Check the columns/variables of each table

In [96]:
print(appointments.columns)
print(clinics.columns)
print(doctors.columns)
print(px.columns)

Index(['pxid', 'clinicid', 'doctorid', 'apptid', 'status', 'TimeQueued',
       'QueueDate', 'StartTime', 'EndTime', 'type', 'Virtual'],
      dtype='object')
Index(['clinicid', 'hospitalname', 'IsHospital', 'City', 'Province',
       'RegionName'],
      dtype='object')
Index(['doctorid', 'mainspecialty', 'age'], dtype='object')
Index(['pxid', 'age', 'gender'], dtype='object')

### Check the number of rows and columns of each our csv files using .shape and check if there are null values in each variables

In [336]:
# Clinics Row and Column
print('clinic shape', clinics.shape)
clinics.info()


# Doctors Row and Column
print('\ndoctors shape', doctors.shape)
doctors.info()

# Px Row and Column
print('\npx shape', px.shape)
px.info()

# Appointments Row and Column
print('\nappointments shape', appointments.shape)
appointments.info()

clinic shape (53962, 6)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53962 entries, 0 to 53961
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   clinicid      53962 non-null  object
 1   hospitalname  17538 non-null  object
 2   IsHospital    53962 non-null  bool
 3   City          53962 non-null  object
 4   Province      53962 non-null  object
 5   RegionName    53962 non-null  object
dtypes: bool(1), object(5)
memory usage: 2.1+ MB

doctors shape (60024, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60024 entries, 0 to 60023
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   doctorid       60024 non-null  object
 1   mainspecialty  27055 non-null  object
 2   age            20028 non-null  float64
dtypes: float64(1), object(2)
memory usage: 1.4+ MB

px shape (5512484, 3)
<class 'pandas.core.frame.DataFrame'>
Index: 5512484 entries, 0 to 6507812
Data columns (total 3 columns):
 #   Column  Dtype
---  ------  -----
 0   pxid    object
 1   age     object
 2   gender  object
dtypes: object(3)
memory usage: 168.2+ MB

appointments shape (320140, 11)
<class 'pandas.core.frame.DataFrame'>
Index: 320140 entries, 76059 to 9602502
Data columns (total 11 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   pxid        320140 non-null  object
 1   clinicid    320140 non-null  object
 2   doctorid    320140 non-null  object
 3   apptid      320140 non-null  object
 4   status      320140 non-null  object
 5   TimeQueued  320140 non-null  object
 6   QueueDate   320140 non-null  object
 7   StartTime   203608 non-null  object
 8   EndTime     60152 non-null   object
 9   type        320140 non-null  object
 10  Virtual     130004 non-null  object
dtypes: object(11)
memory usage: 29.3+ MB

Since we are using Star Schema, we remove appointments that are not in dimension tables

- appointment table = Fact Table
- doctors = Dimension Table
- clinics = Dimension Table
- px = Dimension Table

In [337]:
# remove appointments that are not in pxid table
print(appointments.shape)
appointments = appointments[appointments['pxid'].isin(px['pxid'])]

# remove appointments that are not in the clinics table
print(appointments.shape)
appointments = appointments[appointments['clinicid'].isin(clinics['clinicid'])]
print(appointments.shape)

# remove appointments that are not in the doctors table
print(appointments.shape)
appointments = appointments[appointments['doctorid'].isin(doctors['doctorid'])]
print(appointments.shape)

(320140, 11)
(320140, 11)
(320140, 11)
(320140, 11)
(320140, 11)

Show columns

In [338]:
appointments.head(100)

,pxid,clinicid,doctorid,apptid,status,TimeQueued,QueueDate,StartTime,EndTime,type,Virtual
76059,FE4A5D5A20EC492D2FC691F126A568AB,3B8D83483189887A2F1A39D690463A8F,ACB3A881C7CE9ABCAE0CE8C99C86A906,04BC9218E072BEEFEBEE9C97B78A35C9,Queued,2020-06-22 05:11:38.247000000,2020-07-02 16:00:00,2020-07-02 17:00:38.073000000,2020-07-02 17:15:38.073000000,Consultation,NaN
76061,E6BC8E80685AA4A239617F196F12A0C3,3B8D83483189887A2F1A39D690463A8F,ACB3A881C7CE9ABCAE0CE8C99C86A906,F2335AAFB7EE079C7E7306591057C0C9,Queued,2020-06-26 04:51:16.403000000,2020-07-12 16:00:00,2020-07-12 17:00:15.833000000,2020-07-12 17:15:15.833000000,Consultation,NaN
76063,E430B3D3AEED550612FFDBD0F2F94112,3B8D83483189887A2F1A39D690463A8F,ACB3A881C7CE9ABCAE0CE8C99C86A906,B2C83D6DE89A88C5CD9EA1FD5FC00602,Queued,2020-07-13 07:00:50.127000000,2020-07-19 16:00:00,2020-07-20 05:00:49.687000000,2020-07-20 05:15:49.687000000,Consultation,NaN
76064,E6BC8E80685AA4A239617F196F12A0C3,3B8D83483189887A2F1A39D690463A8F,ACB3A881C7CE9ABCAE0CE8C99C86A906,DA4023B5A8C3F1BD540EA82552F21134,Queued,2020-07-13 06:07:13.537000000,2020-07-28 16:00:00,2020-07-29 05:00:13.133000000,2020-07-29 05:15:13.133000000,Consultation,NaN
76069,41E3F930274A7704305EE197F3434877,3B8D83483189887A2F1A39D690463A8F,ACB3A881C7CE9ABCAE0CE8C99C86A906,C805F7992F18E33AB85CEBD572680943,Queued,2020-06-26 05:54:35.117000000,2020-09-27 16:00:00,2020-09-27 17:00:34.917000000,2020-09-27 17:15:34.917000000,Consultation,NaN
...,...,...,...,...,...,...,...,...,...,...,...
76554,0173144A9589D9B631D1213CB68CD1F3,287ABB19DA8AADBD118443E92685853E,ACB3A881C7CE9ABCAE0CE8C99C86A906,24BBEF21D8B8E1F63BF9D95D22C52854,Complete,2020-11-19 04:26:13.893000000,2020-11-19 16:00:00,2020-11-20 01:30:00,2020-11-20 01:45:00,Consultation,False
76560,A4B7F2DEFAB485D3E823EC2E2887CE8B,287ABB19DA8AADBD118443E92685853E,ACB3A881C7CE9ABCAE0CE8C99C86A906,9ECD6AD001663BFF8259BF04932B287E,Complete,2020-11-23 23:37:40.580000000,2020-11-23 16:00:00,2020-11-24 03:15:00,2020-11-24 03:30:00,Consultation,True
76561,17F29BDC62FF6C1E3EADA946F41BD78C,287ABB19DA8AADBD118443E92685853E,ACB3A881C7CE9ABCAE0CE8C99C86A906,1F61DE829ECDBAA4E09FB099781C47E8,Complete,2020-11-20 02:25:35.360000000,2020-11-23 16:00:00,2020-11-24 01:00:00,2020-11-24 01:15:00,Consultation,True
76562,E181F837A7F5701CC5537781E94D3537,287ABB19DA8AADBD118443E92685853E,ACB3A881C7CE9ABCAE0CE8C99C86A906,39250431EA8C0D7384AD60C9534AB386,Complete,2020-11-22 10:37:27.423000000,2020-11-23 16:00:00,2020-11-24 01:45:00,2020-11-24 02:00:00,Consultation,False
76563,276BBC91182D1B6924ACDA861C146B07,287ABB19DA8AADBD118443E92685853E,ACB3A881C7CE9ABCAE0CE8C99C86A906,2CB9F1DD9BBB54D6AF9CE2607772934C,Complete,2020-11-23 23:46:59.510000000,2020-11-23 16:00:00,2020-11-24 02:45:00,2020-11-24 03:00:00,Consultation,True

In [287]:
#clinics.head(100)

In [339]:
doctors.head(100)

,doctorid,mainspecialty,age
0,AD61AB143223EFBC24C7D2583BE69251,General Medicine,41.0
1,D09BF41544A3365A46C9077EBB5E35C3,Family Medicine,43.0
2,FBD7939D674997CDB4692D34DE8633C4,Vascular Medicine,26.0
3,28DD2C7955CE926456240B2FF0100BDE,Otolaryngologists,34.0
4,35F4A8D465E6E1EDC05F3D8AB658C551,General Dentistry,50.0
...,...,...,...
95,3636638817772E42B59D74CFF571FBB3,NaN,NaN
96,149E9677A5989FD342AE44213DF68868,Pediatrician,68.0
97,A4A042CF4FD6BFB47701CBC8A1653ADA,"Urology, Endoscopic Urology, Laparoscopic and ...",51.0
98,1FF8A7B5DC7A7D1F0ED65AAA29C04B1E,NaN,NaN
99,F7E6C85504CE6E82442C770F7C8606F0,General Surgery,51.0

In [289]:
#px.head(100)

### Check if there are duplicated rows

In [340]:
# Duplicate rows in Doctors
duplicate_doctors = doctors.duplicated()
doctors[duplicate_doctors]

Empty DataFrame
Columns: [doctorid, mainspecialty, age]
Index: []

In [291]:
# Duplicate rows in Px
duplicate_px = px.duplicated(keep=False)
px[duplicate_px]

px.drop_duplicates(inplace=True)
px.shape
px.info

<bound method DataFrame.info of                                      pxid  age  gender
0        5A1718EC380AFE6BE24D63EE78CDA043  NaN  FEMALE
1        C0FC9D6384C7F579F1048A461C298B8C    8  FEMALE
2        FB0C4098E2F7FD0BC3865382242E7034    2  FEMALE
3        EB3C1CBD5A2AC52C69BE0B90C5E149A7   54    MALE
4        92C92C2EB4B51FBB3CD354165BA5F027   67  FEMALE
...                                   ...  ...     ...
6507808  9D8045364678C651016538B78784720E   56    MALE
6507809  BCC86927CB7F687624859D5B7C9AB8B6   60    MALE
6507810  2890460EE1FD505905A0A55834EBDC06   17  FEMALE
6507811  3989D63FA4DD7C54911AA085CB7CF38A   62    MALE
6507812  80E396F35668298FED90AD2278A6D28D   46  FEMALE

[5512484 rows x 3 columns]>

In [292]:
# Duplicate rows in Clinics
duplicate_clinics = clinics.duplicated()
clinics[duplicate_clinics]

Empty DataFrame
Columns: [clinicid, hospitalname, IsHospital, City, Province, RegionName]
Index: []

In [293]:
# Duplicate rows in Appointments
duplicate_appointments = appointments.duplicated()
appointments[duplicate_appointments]

Empty DataFrame
Columns: [pxid, clinicid, doctorid, apptid, status, TimeQueued, QueueDate, StartTime, EndTime, type, Virtual]
Index: []

# Cleaning Doctors

In [341]:
print("Nulls in doctors:")
for column in ['doctorid', 'mainspecialty', 'age']:
    print(f"{column} nulls = {doctors[column].isnull().sum()}")

Nulls in doctors:
doctorid nulls = 0
mainspecialty nulls = 32969
age nulls = 39996

In [342]:
doctors.shape

(60024, 3)

In [343]:
doctors.dropna(subset=['mainspecialty'], inplace=True)
print(doctors['mainspecialty'].isna().value_counts())

mainspecialty
False    27055
Name: count, dtype: int64

In [344]:
doctors_test = doctors['mainspecialty']

In [345]:
doctors['mainspecialty'].value_counts().head(20)

mainspecialty
Internal Medicine            3812
General Medicine             2317
Pediatrics                   1709
Family Medicine               894
General Physician             881
General Practitioner          768
Obstetrics and Gynecology     688
Dermatology                   663
General Practice              596
Ophthalmology                 530
General Surgery               517
Surgery                       515
Internal medicine             330
General Pediatrics            293
Psychiatry                    204
Obstetrics & Gynecology       183
Urology                       171
General Dentistry             168
Orthopedic Surgery            158
Neurology                     158
Name: count, dtype: int64

In [346]:
surgery_pattern = re.compile(r'\b(?:surgery|surgeon|surgical)\b', flags=re.IGNORECASE)
im_pattern = re.compile(r'\b(?:internal medicine|internal|im|Internal medicine)\b', flags=re.IGNORECASE)
obgyn_pattern = re.compile(r'\b(?:Obygene|obgyn|ob gyn|ob\-gyn|obstetrics|gynecology|Obstetrics And Gynecology|OB|ob|Gynecology|OBGynecology|OBGY|OBGYNE|obgyne|obstetrics|gynecologist|obstetrician|birth)\b', flags=re.IGNORECASE)
gp_pattern = re.compile(r'\b(?:gp|general practitioner|practitioner|General Practice)\b', flags=re.IGNORECASE)
pedia_pattern = re.compile(r'\b(?:pedia|pediatrician|general pediatrician|pediatrics|pediatrician medicine|padiatrician|pedatrician|Pediatric|pediatric)\b', flags=re.IGNORECASE)
family_med_pattern = re.compile(r'\b(?:family|Family medicine|family Medicine|Family Medicine)\b', flags=re.IGNORECASE)
general_physician = re.compile(r'\b(?:physician|general physician|general Physician)\b', flags=re.IGNORECASE)
general_med = re.compile(r'\b(?:general medicine|General Medicine|gen med)\b', flags=re.IGNORECASE)
dermatology_pattern = re.compile(r'\b(?:derma|dermatology|Dermatologist|dermatological)\b', flags=re.IGNORECASE)
neurology_pattern = re.compile(r'\b(?:neuro|neurologist|neurology|Neurology|neurological|Neurologist)\b', flags=re.IGNORECASE)
psychiatry_pattern = re.compile(r'\b(?:psychiatry|Psych|psych|psychiapatric|Psychiapatric|Psychiapatric|Psychiatry)\b', flags=re.IGNORECASE)
dentistry_pattern = re.compile(r'\b(?:dentist|dentistry|Dentistry)\b', flags=re.IGNORECASE)
emergency_medicine_pattern = re.compile(r'\b(?:Emergency medicine|emergency|emergency medicine|emergency Medicine|Emergency Medicine)\b', flags=re.IGNORECASE)
pathology_pattern = re.compile(r'\b(?:pathology|path|pathological|pathologistic|Pathology|Pathological)\b', flags=re.IGNORECASE)
ophthalmology_pattern = re.compile(r'\b(?:opthalmology|ophthalmology|ophtho|eye surgery|Eye Care Specialist|opthalmologist)\b', flags=re.IGNORECASE)
radiology_pattern = re.compile(r'\b(?:radiology|radiologist|rad|medical imaging)\b', flags=re.IGNORECASE)
cardiology_pattern = re.compile(r'\b(?:cardiology|heart specialist|heart doctor|cardio|cardiologist)\b', flags=re.IGNORECASE)
anesthesiology_pattern = re.compile(r'\b(?:anesthesiology|anesthesia|anesthesiologist|anesth|anesthology)\b', flags=re.IGNORECASE)
urology_pattern = re.compile(r'\b(?:urologist|urological|urology surgery|Urology)\b', flags=re.IGNORECASE)
occupational_medicine_pattern = re.compile(r'\b(?:occupational|occupation|occupational medicine|occup|Occupational Medicine)\b', flags=re.IGNORECASE)
orthopedics_pattern = re.compile(r'\b(?:orthopedics|orthopaedics|ortho|bone surgery|musculoskeletal| orthopediatrician|orthopedia)\b', flags=re.IGNORECASE)
primary_pattern = re.compile(r'\b(?:primary care|primary|care|Primary care)\b', flags=re.IGNORECASE)

doctors['mainspecialty'] = doctors['mainspecialty'].apply(lambda x: 'General Practitioner' if gp_pattern.search(x.lower()) else x)
doctors['mainspecialty'] = doctors['mainspecialty'].apply(lambda x: 'Pediatrician' if pedia_pattern.search(x.lower()) else x)
doctors['mainspecialty'] = doctors['mainspecialty'].apply(lambda x: 'Obstetrics and Gynecology' if obgyn_pattern.search(x.lower()) else x)
doctors['mainspecialty'] = doctors['mainspecialty'].apply(lambda x: 'Internal Medicine' if im_pattern.search(x.lower()) else x)
doctors['mainspecialty'] = doctors['mainspecialty'].apply(lambda x: 'Surgery' if surgery_pattern.search(x.lower()) else x)
doctors['mainspecialty'] = doctors['mainspecialty'].apply(lambda x: 'Family Medicine' if family_med_pattern.search(x.lower()) else x)
doctors['mainspecialty'] = doctors['mainspecialty'].apply(lambda x: 'General Physician' if general_physician.search(x.lower()) else x)
doctors['mainspecialty'] = doctors['mainspecialty'].apply(lambda x: 'General Medicine' if general_med.search(x.lower()) else x)
doctors['mainspecialty'] = doctors['mainspecialty'].apply(lambda x: 'Dermatology' if dermatology_pattern.search(x.lower()) else x)
doctors['mainspecialty'] = doctors['mainspecialty'].apply(lambda x: 'Neurology' if neurology_pattern.search(x.lower()) else x)
doctors['mainspecialty'] = doctors['mainspecialty'].apply(lambda x: 'Psychiatry' if psychiatry_pattern.search(x.lower()) else x)
doctors['mainspecialty'] = doctors['mainspecialty'].apply(lambda x: 'Dentistry' if dentistry_pattern.search(x.lower()) else x)
doctors['mainspecialty'] = doctors['mainspecialty'].apply(lambda x: 'Emergency Medicine' if emergency_medicine_pattern.search(x.lower()) else x)
doctors['mainspecialty'] = doctors['mainspecialty'].apply(lambda x: 'Opthalmology' if ophthalmology_pattern.search(x.lower()) else x)
doctors['mainspecialty'] = doctors['mainspecialty'].apply(lambda x: 'Radiology' if radiology_pattern.search(x.lower()) else x)
doctors['mainspecialty'] = doctors['mainspecialty'].apply(lambda x: 'Cardiology' if cardiology_pattern.search(x.lower()) else x)
doctors['mainspecialty'] = doctors['mainspecialty'].apply(lambda x: 'Pathology' if pathology_pattern.search(x.lower()) else x)
doctors['mainspecialty'] = doctors['mainspecialty'].apply(lambda x: 'Anesthesiology' if anesthesiology_pattern.search(x.lower()) else x)
doctors['mainspecialty'] = doctors['mainspecialty'].apply(lambda x: 'Primary Care' if primary_pattern.search(x.lower()) else x)
doctors['mainspecialty'] = doctors['mainspecialty'].apply(lambda x: 'Orthopedics' if orthopedics_pattern.search(x.lower()) else x)
doctors['mainspecialty'] = doctors['mainspecialty'].apply(lambda x: 'Urology' if urology_pattern.search(x.lower()) else x)
doctors['mainspecialty'] = doctors['mainspecialty'].apply(lambda x: 'Occupational Medicine' if occupational_medicine_pattern.search(x.lower()) else x)

In [347]:
doctors['mainspecialty'].value_counts().head(20)

mainspecialty
Internal Medicine            5537
General Medicine             2685
Pediatrician                 2669
Surgery                      2226
Obstetrics and Gynecology    2080
General Practitioner         1768
Family Medicine              1347
General Physician            1107
Dermatology                   829
Opthalmology                  622
Dentistry                     439
Neurology                     318
Psychiatry                    264
Cardiology                    222
Urology                       194
Anesthesiology                194
Orthopedics                   193
Occupational Medicine         183
Primary Care                  127
Emergency Medicine            109
Name: count, dtype: int64

In [348]:
specialties_data = (
    'Internal Medicine',
    'General Medicine',
    'Pediatrics',
    'Family Medicine',
    'General Physician',
    'General Practitioner',
    'Obstetrics and Gynecology',
    'Dermatology',
    'Ophthalmology',
    'Surgery',
    'Psychiatry',
    'Urology',
    'Dentistry',
    'Neurology',
    'Anesthesiology',
    'Occupational Medicine',
    'Cardiology',
    'Emergency Medicine',
    'Pathology',
    'Radiology',
    'Orthopedics'
)


doctors = doctors[doctors['mainspecialty'].isin(specialties_data)]

In [351]:
uniq_val = doctors['mainspecialty'].unique()

for elem in uniq_val:
    print(elem)

General Medicine
Family Medicine
Dentistry
Surgery
Internal Medicine
Radiology
Anesthesiology
General Physician
Obstetrics and Gynecology
Orthopedics
Dermatology
Urology
General Practitioner
Psychiatry
Emergency Medicine
Neurology
Occupational Medicine
Cardiology
Pathology

In [352]:
# Initialize null doctor's age to zero so we can convert the data type from DOUBLE to INT
doctors['age'].fillna(0, inplace=True)
doctors[doctors['age'] == 0]

C:\Users\rafsa\AppData\Local\Temp\ipykernel_20048\689866315.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  doctors['age'].fillna(0, inplace=True)

                               doctorid         mainspecialty  age
816    024D7F84FFF11DD7E8D9C510137A2381           Orthopedics  0.0
1175   2BA8698B79439589FDD2B0F7218D8B07               Surgery  0.0
1176   81E5F81DB77C596492E6F1A5A792ED53             Dentistry  0.0
1182   E3251075554389FE91D17A794861D47B     Internal Medicine  0.0
1423   55C567FD4395ECEF6D936CF77B8D5B2B     Internal Medicine  0.0
...                                 ...                   ...  ...
59952  4E676DEB371EECE2BCFE6B41C775212D     Internal Medicine  0.0
59971  133E9E983A6307245B1092AEED808424             Neurology  0.0
59987  048617CEB68B40A45847078DB347BA59     General Physician  0.0
60016  3DC09677E0FDB539A31D497C4FB25F20  General Practitioner  0.0
60022  E540A361D93D37A33BB2F55D43DA79D9  General Practitioner  0.0

[4396 rows x 3 columns]

In [355]:
x = (doctors['age'] < 21) & (doctors['age'] != 0)
y = (doctors['age'] > 120) & (doctors['age'] != 0)


# Exclude rows where age is less than 0 or greater than 100
doctors = doctors[~(x | y)]

# Drop null
doctors.drop(doctors[doctors['age'] == 0].index, inplace=True)

doctors.shape

(15376, 3)

In [330]:
# Convert data type to INT
doctors['age'] = doctors['age'].astype('int32')

# Cleaning Patients

In [79]:
print("Nulls in Patient:")
for column in ['pxid', 'age', 'gender']:
    print(f"{column} nulls = {px[column].isnull().sum()}")

Nulls in Patient:

pxid nulls = 0
age nulls = 9999
gender nulls = 0

Gender column there is a row that has the value of gender
We dropped that row

In [80]:
print(px.gender.value_counts())

data1 = px[px['gender'] == 'gender']
print(data1)

data = px[px['pxid'] == 'pxid']
print(data)

px.drop(px[px['gender'] == 'gender'].index, inplace=True)
data1 = px[px['gender'] == 'gender']

gender
FEMALE    3095509
MALE      2416974
gender          1
Name: count, dtype: int64
        pxid  age  gender
995328  pxid  age  gender
        pxid  age  gender
995328  pxid  age  gender

In [81]:
px['age'].isna().value_counts()

age
False    5502484
True        9999
Name: count, dtype: int64

Drop NaN ages

In [82]:
px.dropna(subset=['age'], inplace=True)

In [83]:
px['age'] = px['age'].astype('int32')

In [84]:
px['age'].isna().value_counts()

age
False    5502484
Name: count, dtype: int64

Drop Unrealistic ages

In [85]:
x = px.age < 0
y = px.age > 120

print(x.sum())
print(y.sum())

1003
11335

In [86]:
# Assuming 'px' is the name of your DataFrame
x = px['age'] < 0
y = px['age'] > 120

# Exclude rows where age is less than 0 or greater than 100
px = px[~(x | y)]
px.shape

(5490146, 3)

In [ ]:
px = px[~((px['pxid'] == 'FBA46EA3EF7CCD4F3551C22272FE865F') & (px['age'] == 4))]
px[px.pxid == 'FBA46EA3EF7CCD4F3551C22272FE865F']

In [ ]:
print(px.pxid.value_counts())
print(px[px.pxid == 'FBA46EA3EF7CCD4F3551C22272FE865F'])

# Cleaning Clinics

Since when hospital name is null is when ishospital is false then no need to remove the nulls

In [87]:
print("Nulls in clinics:")
for column in ['clinicid', 'hospitalname', 'IsHospital', 'City', 'Province', 'RegionName']:
    print(f"{column} nulls = {clinics[column].isnull().sum()}")

Nulls in clinics:
clinicid nulls = 0
hospitalname nulls = 36424
IsHospital nulls = 0
City nulls = 0
Province nulls = 0
RegionName nulls = 0

In [88]:
clinics[clinics.IsHospital == False].isnull().sum()

clinicid            0
hospitalname    36424
IsHospital          0
City                0
Province            0
RegionName          0
dtype: int64

In [89]:
clinics.dtypes

clinicid        object
hospitalname    object
IsHospital        bool
City            object
Province        object
RegionName      object
dtype: object

In [90]:
print(clinics.hospitalname.isnull().sum())
print(clinics[clinics['IsHospital'] == False].hospitalname.isnull().sum())
print(clinics[clinics['IsHospital'] == False].shape)
# if the clinic is not a hospital is it should not have a hospital name

36424
36424
(36424, 6)

# Cleaning Appointments

In [91]:
print("Null in appointments")
for column in ['pxid', 'clinicid', 'doctorid', 'apptid', 'status', 'TimeQueued', 'QueueDate', 'StartTime', 'EndTime', 'type', 'Virtual']:
    print(f"{column} nulls = {appointments[column].isnull().sum()}")

Null in appointments
pxid nulls = 0
clinicid nulls = 0
doctorid nulls = 0
apptid nulls = 0
status nulls = 0
TimeQueued nulls = 0
QueueDate nulls = 0
StartTime nulls = 116532
EndTime nulls = 259988
type nulls = 0
Virtual nulls = 190136

In [92]:
appCols = ['pxid', 'clinicid', 'doctorid', 'apptid', 'status', 'TimeQueued',
       'QueueDate', 'StartTime', 'EndTime', 'type', 'Virtual']
for col in appCols:
    null_count = appointments[col].isnull().sum()
    print(f"Column '{col}': {null_count} null values")

Column 'pxid': 0 null values

Column 'clinicid': 0 null values
Column 'doctorid': 0 null values
Column 'apptid': 0 null values
Column 'status': 0 null values
Column 'TimeQueued': 0 null values
Column 'QueueDate': 0 null values
Column 'StartTime': 116532 null values
Column 'EndTime': 259988 null values
Column 'type': 0 null values
Column 'Virtual': 190136 null values

Before covid virtual appointments were not common or were not available at all. That is why no virtual column till recently. Therefore all null values in virtual should be false.

In [93]:
appointments['Virtual'] = appointments['Virtual'].fillna(False)

C:\Users\rafsa\AppData\Local\Temp\ipykernel_27552\2979137976.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  appointments['Virtual'] = appointments['Virtual'].fillna(False)

In [94]:
appointments['Virtual'].isnull().sum()

0

In [95]:
appointments.status.value_counts()

status
Queued      179638
Complete    135259
Cancel        2258
Serving       1544
NoShow        1008
Skip           433
Name: count, dtype: int64

In [96]:
print(appointments[appointments['status'] == 'Complete'].StartTime.isnull().sum())
print(appointments[appointments['status'] == 'Queued'].StartTime.isnull().sum())
print(appointments[appointments['status'] == 'Cancel'].StartTime.isnull().sum())
print(appointments[appointments['status'] == 'Serving'].StartTime.isnull().sum())
print(appointments[appointments['status'] == 'NoShow'].StartTime.isnull().sum())
print(appointments[appointments['status'] == 'Skip'].StartTime.isnull().sum())
print("\n")

print(appointments[appointments['status'] == 'Complete'].EndTime.isnull().sum())
print(appointments[appointments['status'] == 'Queued'].EndTime.isnull().sum())
print(appointments[appointments['status'] == 'Cancel'].EndTime.isnull().sum())
print(appointments[appointments['status'] == 'Serving'].EndTime.isnull().sum())
print(appointments[appointments['status'] == 'NoShow'].EndTime.isnull().sum())
print(appointments[appointments['status'] == 'Skip'].EndTime.isnull().sum())

88045
27650
396
327
58
56


101250
157897
398
329
58
56

In [97]:
# change appointments timequeued and queuedate to datetime

appointments['TimeQueued'] = pd.to_datetime(appointments['TimeQueued'], errors="coerce")
appointments['QueueDate'] = pd.to_datetime(appointments['QueueDate'], errors="coerce")
appointments['StartTime'] = pd.to_datetime(appointments['StartTime'], errors="coerce")
appointments['EndTime'] = pd.to_datetime(appointments['EndTime'], errors="coerce")

# After cleaning each table remove appointments that are not in the dimesion tables (may need rewording)

In [98]:
# remove appointments that are not in pxid table
print(appointments.shape)
appointments = appointments[appointments['pxid'].isin(px['pxid'])]

# remove appointments that are not in the clinics table
print(appointments.shape)
appointments = appointments[appointments['clinicid'].isin(clinics['clinicid'])]
print(appointments.shape)

# remove appointments that are not in the doctors table
print(appointments.shape)
appointments = appointments[appointments['doctorid'].isin(doctors['doctorid'])]
print(appointments.shape)

(320140, 11)
(319854, 11)
(319854, 11)
(319854, 11)
(319854, 11)

# EDA?

In [99]:
print(appointments['status'].value_counts(), "\n")
print(appointments['type'].value_counts(), "\n")
print(appointments['Virtual'].value_counts(), "\n")
print(doctors['mainspecialty'].value_counts(), "\n")
print(doctors['age'].value_counts(), "\n")
print(px['gender'].value_counts(), "\n")
print(px['age'].value_counts(), "\n")

status
Queued      179582
Complete    135064
Cancel        2231
Serving       1542
NoShow        1002
Skip           433
Name: count, dtype: int64

type
Consultation    319645
Inpatient          209
Name: count, dtype: int64

Virtual
False    314007
True       5847
Name: count, dtype: int64

mainspecialty
Internal Medicine                        3808
General Medicine                         2317
Pediatrics                               1708
Family Medicine                           893
General Physician                         880
                                         ...
Marc                                        1
Orthopaedics (Bone and Joint Surgery)       1
Generalists                                 1
Public Health, Pathology                    1
Allergist                                   1
Name: count, Length: 3968, dtype: int64

age
13    39996
34     1215
35     1082
33      973
37      971
      ...
21        1
22        1
84        1
79        1
85        1
Name: count, Length: 71, dtype: int64

gender
FEMALE    3080715
MALE      2409431
Name: count, dtype: int64

age
29     125362
54     125306
28     121702
31     120597
32     120355
        ...
116        13
119        11
115         9
118         8
117         6
Name: count, Length: 121, dtype: int64

In [100]:
print(appointments.shape)

#print(is_time_queued_less_than_queue_date)
#print(appointments[appointments['TimeQueued'] > appointments['QueueDate']].shape)

# change appointments timequeued and queuedate to datetime

# appointments['TimeQueued'] = pd.to_datetime(appointments['TimeQueued'])
# appointments['QueueDate'] = pd.to_datetime(appointments['QueueDate'])
#print(appointments.TimeQueued)
#print(appointments.QueueDate)
is_time_queued_less_than_queue_date = (appointments['TimeQueued'] < appointments['QueueDate']).count()
is_time_queued_before_queue_date = (appointments['TimeQueued'] < appointments['QueueDate']).count()
print(is_time_queued_before_queue_date)


print((appointments['TimeQueued'] > appointments['QueueDate']).sum())
print((appointments['TimeQueued'] < appointments['QueueDate']).sum())
print((appointments['TimeQueued'] == appointments['QueueDate']).sum())
#print((appointments['TimeQueued'] < appointments['QueueDate']).sum() + (appointments['TimeQueued'] > appointments['QueueDate']).sum())

print(appointments.iloc[1])
print(appointments.iloc[1]['TimeQueued'] < appointments.iloc[1]['QueueDate'])

(319854, 11)
319854
78340
53435
0
pxid          E6BC8E80685AA4A239617F196F12A0C3
clinicid      3B8D83483189887A2F1A39D690463A8F
doctorid      ACB3A881C7CE9ABCAE0CE8C99C86A906
apptid        F2335AAFB7EE079C7E7306591057C0C9
status                                  Queued
TimeQueued          2020-06-26 04:51:16.403000
QueueDate                  2020-07-12 16:00:00
StartTime           2020-07-12 17:00:15.833000
EndTime             2020-07-12 17:15:15.833000
type                              Consultation
Virtual                                  False
Name: 76061, dtype: object
True

# Uploading to MySQL

In [101]:
load_dotenv()

db_host = os.getenv('DB_HOST')
db_password = os.getenv('DB_PASSWORD')
db_schema = os.getenv('DB_SCHEMA')

print("DB Host:", db_host)
print("DB Password:", db_password)
print("DB Schema:", db_schema)

engine_path = 'mysql+pymysql://root:'+ db_password +'@'+ db_host +'/' + db_schema
print(engine_path)

DB Host: localhost
DB Password: admin
DB Schema: test_schema
mysql+pymysql://root:admin@localhost/test_schema

In [102]:
engine = create_engine(engine_path)

In [103]:
appointments.to_sql('appointments', con=engine, if_exists='replace', index=False)

319854

In [104]:
doctors.dtypes

doctorid         object
mainspecialty    object
age               int32
dtype: object

In [105]:
appointments.doctorid

76059      ACB3A881C7CE9ABCAE0CE8C99C86A906
76061      ACB3A881C7CE9ABCAE0CE8C99C86A906
76063      ACB3A881C7CE9ABCAE0CE8C99C86A906
76064      ACB3A881C7CE9ABCAE0CE8C99C86A906
76069      ACB3A881C7CE9ABCAE0CE8C99C86A906
                         ...
9602481    F7F07E7DAB09533BC71247A5B29A7373
9602483    F7F07E7DAB09533BC71247A5B29A7373
9602484    F7F07E7DAB09533BC71247A5B29A7373
9602492    F7F07E7DAB09533BC71247A5B29A7373
9602502    F7F07E7DAB09533BC71247A5B29A7373
Name: doctorid, Length: 319854, dtype: object

In [106]:
appointments['StartTime'].isna().count()

319854

In [107]:
appointments['EndTime'].isna().count()

319854

In [108]:
doctors.to_sql('doctors', con=engine, if_exists='replace', index=False)

59997

In [109]:
appointments[appointments.doctorid == 'doctors_idx']

Empty DataFrame
Columns: [pxid, clinicid, doctorid, apptid, status, TimeQueued, QueueDate, StartTime, EndTime, type, Virtual]
Index: []

In [110]:
px.to_sql('px', con=engine, if_exists='replace', index=False)

PendingRollbackError: Can't reconnect until invalid transaction is rolled back.  Please rollback() fully before proceeding (Background on this error at: https://sqlalche.me/e/20/8s2b)

In [ ]:
clinics.columns

Index(['clinicid', 'hospitalname', 'IsHospital', 'City', 'Province',
       'RegionName'],
      dtype='object')

In [ ]:
clinics.to_sql('clinics', con=engine, if_exists='replace', index=False)

53962